# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradlew

# other
eclipse
run
runs
run-data

repo
gradlew
.vscode/launch.json
.vscode/excel-pq-symbols/excel-pq-symbols.json
